# ---------- DIRECTORIES

.idea/
builds/
cmake-build*


# ---------- FILES

TODO.txt
*.log
companyInfo.cmake
definePath.json

# ---------- CODE

PluginEditor.*
PluginProcessor.*

# ---------- HIDDEN FILES

.DS_Store
Thumbs.db
desktop.ini


